---
import Badge from './Badge.astro';
import Redes from './Redes.astro';

interface Props {
  titulo: string;
  descripcion: string;
  link?: string;
  fecha: string;
  imagen: string;
  etiquetas: string[];
}

const {titulo, descripcion, link, fecha, imagen, etiquetas } = Astro.props;
---
<article>
  <time
  class="mb-1 text-sm font-semibold leading-none text-gray-500 dark:text-gray-500"
  >{fecha}</time>
  <h3 class="text-lg font-semibold text-yellow-500/90 dark:text-white">{titulo}</h3>
  <p class="mb-4 text-base font-normal text-gray-900 dark:text-gray-500">
    {descripcion}</p>
  <ul class="flex gap-2 py-2 justify-end px-2 flex-wrap">
    
    {etiquetas.map((etiqueta) => (
      <Badge>{etiqueta}</Badge>
    ))}
  </ul>
{
  imagen ?(
  <img class="rounded-3xl py-4 z-1000 relative" src={imagen} alt={`Captura de pantalla del Proyecto ${titulo}`} /> 
  ) : null
}
{
  link && (
    <div class="my-5">
    <Redes href={link}>
    </Redes>
  </div>
  )
}
</article>


