---
import Badge from './Badge.astro';
import BotonRedireccion from './BotonRedireccion.astro';

interface Props {
  titulo: string;
  descripcion: string;
  link?: string;
  fecha: string;
  imagen: string;
  etiquetas: string[];
}

const {titulo, descripcion, link, fecha, imagen, etiquetas } = Astro.props;

const tituloTrunc = (titulo: string) => {
    const indiceTitulo = titulo.indexOf('-');
 
  return indiceTitulo !== -1 ? titulo.slice(0, indiceTitulo).trim() : titulo;
};
---
<article>
  <time
  class="mb-1 text-sm font-semibold leading-none text-gray-500 dark:text-gray-500"
  >{fecha}</time>
  <h3 class="text-lg font-semibold text-orange-500 dark:text-white">{titulo}</h3>
  <p class="mb-4 text-base font-normal text-gray-900 dark:text-gray-500">
    {descripcion}</p>
  
{
  imagen ?(
  <img class="rounded-3xl py-4 z-1000 relative" src={imagen} alt={`Captura de pantalla del Proyecto ${titulo}`} /> 
  ) : null
}

<ul class="flex gap-2 py-2 justify-end px-2 flex-wrap">
    
  {etiquetas.map((etiqueta) => (
    <Badge>{etiqueta}</Badge>
  ))}
</ul>
{link && (
  <div class="my-5">
      <BotonRedireccion href={link} editComponenteBoton="lg:py-2 max-w-60 font-medium">
        {tituloTrunc(titulo)}

      </BotonRedireccion>
    
  </div>
)}
</article>


