---
import Badge from './Badge.astro';
import BotonRedireccion from './BotonRedireccion.astro';

interface Etiqueta {
  nombre: string;
  class : string; 
  icono:  any; 
}
interface Props {
  titulo: string;
  descripcion: string;
  link?: string;
  fecha: string;
  imagen: string;
  etiquetas: Etiqueta[];
}

const {titulo, descripcion, link, fecha, imagen, etiquetas } = Astro.props;

---
<article>
  <time
  class="mb-1 text-sm font-semibold leading-none text-gray-500 dark:text-gray-500"
  >{fecha}</time>
  <h3 class="text-lg font-semibold text-orange-500 dark:text-white">{titulo}</h3>
  <p class="mb-4 text-base font-normal text-gray-900 dark:text-gray-500">
    {descripcion}</p>
 
    <div class="flex flex-col-reverse sm:flex-row py-5 items-center justify-between xl:w-[740px] md:w-[640px]">
      <div class="flex flex-col items-start justify-center w-full sm:w-1/2">
        <ul class="gap-2 py-4 md:text-sm grid grid-cols-2 sm:grid-cols-1">
          {etiquetas.map((etiqueta) => (
            <li >
              <span class={`flex items-center text-md w-40 z-100 relative dark:text-white ${etiqueta.class}`}>
                <etiqueta.icono class="size-5 mx-4 fill-gray-700 dark:fill-white rounded-md"/>
                {etiqueta.nombre}
              </span>
            </li>
          ))}
        </ul>
      </div>
      {imagen ? (
        <div class="relative block group w-full sm:w-1/2">
          <a href={link} 
            target={link === "#" ? "_self" : "_blank"} 
            rel="noopener noreferrer" 
            class="group-hover:scale-105 transition duration-300 cursor-pointer">
            
            <img 
              class="rounded-md w-full sm:w-auto h-auto z-1000 relative group-hover:blur-sm" 
              src={imagen} 
              style="box-shadow: 0px 0px 20px rgb(0, 0, 0);" 
              alt={`Captura de pantalla del Proyecto ${titulo}`}
            />
            <span class="absolute inset-0 flex items-center justify-center text-white text-2xl font-bold opacity-0 transition-opacity duration-300 group-hover:opacity-100">
              <BotonRedireccion classBtnProyecto="absolute rounded-tr-none rounded-tl-none bottom-0 group-hover:scale-100 left-0 w-full">
                VER PROYECTO
              </BotonRedireccion>
            </span>
          </a>
        </div>
      ) : null}
    </div>
</article>


